@import url("reset.css");
@import url("bootstrap-grid.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap");
:root {
  --primary-color: #03989e;
  --secondary-color: #2D93AD;
  --tertiary-color: #eabe7c;
  --fourth-color: #AD8E70;
  --disabled-color: #232222c9;
}

::-moz-selection {
  background: #00c7bd;
  color: #fff;
}

::selection {
  background: #00c7bd;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.row {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Tajawal', sans-serif;
  line-height: 1.2;
  background: #f9f9fc;
}

.page-container {
  position: relative;
  min-height: 100% !important;
}

.not-footer {
  padding-bottom: 250px;
}

header {
  padding-bottom: 120px;
}

header nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999999;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-container {
  width: 96%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 22px;
}

header .logo img {
  width: 90px;
}

header ul {
  gap: 22px;
}

header ul li a {
  font-size: 22px;
  font-weight: 500;
  color: var(--disabled-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4px;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

header ul li a:hover {
  color: var(--fourth-color);
}

section {
  padding: 24px 0px;
}

section.banner {
  padding: 6px 0px;
}

section.split {
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.split .splitter-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.split .splitter-container h2 {
  font-size: 38px;
  font-weight: 700;
  max-width: 600px;
  text-align: end;
}

section.split .splitter-container h1 {
  font-size: 48px;
  font-weight: 700;
  max-width: 260px;
}

section .layer {
  height: 180px;
  padding: 0px 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .layer.backgrounded-layer {
  background: #dadada;
}

section .layer .image img {
  height: 200px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-title h1 {
  font-size: 52px;
}

.section-title h2 {
  font-size: 38px;
  font-weight: 700;
}

.section-title h3 {
  font-size: 24px;
  font-weight: 600;
}

.section-title span {
  color: #f33838;
}

button {
  width: 280px;
  height: 50px;
  font-size: 22px;
  font-weight: 600;
  background: var(--primary-color);
  color: #ffffff;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  margin: 0px auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

button:hover, button:focus {
  background: transparent;
  color: var(--primary-color);
}

button.confirm {
  background: #039e7c;
  border-color: #039e7c;
}

button.confirm:hover, button.confirm:focus {
  background: transparent;
  color: #039e7c;
}

button.cancel {
  background: #c65858;
  border-color: #c65858;
}

button.cancel:hover, button.cancel:focus {
  background: transparent;
  color: #c65858;
}

.vl {
  border-left: 3px solid #000;
}

.text {
  background-color: #eee;
  overflow: hidden;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text.search {
  width: 320px;
}

.text.search input,
.text.search i,
.text.search button {
  font-size: 18px;
}

.text input,
.text i,
.text button {
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 22px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text input {
  background: transparent;
  width: 100%;
}

.text i {
  color: #ffffff;
  background: var(--primary-color);
  border-radius-left: inherit;
  line-height: unset;
}

.text button {
  border-radius: 0;
  border-radius-right: inherit;
  width: 130px;
}

.services-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-container .service {
  width: calc(33% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 18px;
}

.services-container .service i {
  font-size: 95px;
  color: var(--primary-color);
}

.services-container .service h2 {
  font-size: 22px;
  font-weight: 600;
}

.bikes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px 0px;
}

.bikes-container .bike {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.bikes-container .bike img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bikes-container .bike h2 {
  font-size: 26px;
}

.bikes-container .bike button {
  width: 200px;
  height: 40px;
  background: #666;
  border-color: #666;
}

.bikes-container .bike button:hover, .bikes-container .bike button:focus {
  background: transparent;
  color: #666;
}

.form-container {
  background: #ddd;
  padding: 40px 20px;
  margin: auto;
  border-radius: 2px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

form .text {
  width: 100%;
}

form .text input::-webkit-input-placeholder {
  color: #222;
}

form .text input:-ms-input-placeholder {
  color: #222;
}

form .text input::-ms-input-placeholder {
  color: #222;
}

form .text input::placeholder {
  color: #222;
}

form .input-container {
  max-width: 560px;
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

form .input-container h3 {
  font-size: 22px;
  font-weight: 500;
}

form .input-container select,
form .input-container input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid #bbb;
  background: transparent;
  -webkit-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

form .input-container input[type=radio] {
  width: 20px;
}

form .input-container label img {
  max-width: 100px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

form .input-container .radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

form .section-title {
  text-align: start;
  margin-bottom: 22px;
}

form .section-title h3 {
  text-align: center;
}

form .data {
  gap: 22px 0px;
}

form .data h2 {
  font-size: 22px;
}

form .data > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}

form .buttons-container {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

form .buttons-container button {
  width: 250px;
}

.two-inputs-form form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.two-inputs-form form .text {
  width: calc(50% - 22px);
}

.two-inputs-form form > * {
  width: 100%;
  text-align: center;
}

.steps-line {
  position: relative;
  z-index: 1;
  background: 0 0;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 60px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.steps-line .the-container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

.steps-line .the-container .checkout-steps {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.steps-line .the-container .checkout-steps .step-box {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  z-index: 99;
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps-line .the-container .checkout-steps .step-box .step {
  z-index: 99;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.steps-line .the-container .checkout-steps .step-box .step .step-number {
  width: 45px;
  height: 45px;
  z-index: 10;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  background: #e5fcf5;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-line .the-container .checkout-steps .step-box .step .step-title {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.steps-line .the-container .checkout-steps .step-box .step.step-active .step-number {
  color: #fff;
  background: #00898f;
  border-color: var(--primary-color);
}

.steps-line .the-container .checkout-steps .step-box .step:nth-of-type(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-line .the-container .checkout-steps .step-box .step:last-of-type {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.steps-line .the-container .checkout-steps .step-line {
  position: relative;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1;
  width: 85%;
  height: 2px;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
  vertical-align: baseline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  background: #eee;
  color: #111111;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container {
  padding: 0 14px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .about,
footer .contact {
  width: calc(50% - 10px);
  padding: 0 16px;
}

footer .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .contact > .col-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer .socials a {
  font-size: 28px;
}

footer img.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100px;
}

footer img.logo,
footer strong {
  margin-bottom: 6px;
}

footer img {
  width: 160px;
}
/*# sourceMappingURL=app.css.map */